pipeline/CopytablesfromSQLOnPrem.json
{
	"name": "CopytablesfromSQLOnPrem",
	"properties": {
		"activities": [
			{
				"name": "LookupListOfTablesAndFields",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDataLakeStoreSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "Run_table_datalake",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Incremental Copy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LookupListOfTablesAndFields",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "incrementalcopypipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableList": {
							"value": "@activity('LookupListOfTablesAndFields').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}